

body {
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}
p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: gray;
    
}





.qr-code {
    max-width: calc(100% - 5px);
    border-radius: 15px;
}

.card {
    width: 320px;
    background: white;
    /* margin: 0 auto; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
}



